body{ 
	background: url(images/blurred_golden_background_192849.jpg);
}

#albumDisplay{
    width: 500px;
    height: 500px;
    background-color: azure;
    display: block;
    
}

#albumThumbs{
    width: 500px;
}

#container{
    margin-left: auto;
    background-color: lightgray;
    margin-right: auto;
    margin-top: 50px;
    width: 500px;
    border: 8px midnightblue solid;
    border-radius: 25px;
    padding: 5px;
}